@page
@model BackEndCST.Pages.GestiuneUseri.IndexModel

@{
    ViewData["Title"] = "Useri";
}

<h2>Useri</h2>


<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Cauta un user:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Inapoi la lista principala</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.AspNetUsers[0].UserName)
                </a>
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AspNetUsers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
               
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>

            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.AspNetUsers.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.AspNetUsers.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.AspNetUsers.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.AspNetUsers.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>
